.newpassword {
  background-color: transparent;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
}
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-image {
  height: 20px;
}
.list {
  padding: 10px;
}
