.bg-container {
  background-color: #9ba9eb;
  min-height: 100vh;
  background-size: co2ver;
  padding: 20px;
}
.app-logo {
  height: 100px;
}
.first-container {
  height: 400px;
  width: 100%;
  background-color: #5763a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
}
.new-password {
  height: 250px;
  width: 300px;
  background-color: #454f84;
  padding: 10px;
  border-radius: 10px;
}
.heading {
  font-size: 20px;
  color: white;
}
.line {
  border: 1px solid black;
  height: 40px;
}
.image {
  height: 300px;
}
.website-container {
  background-color: white;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
}
.website {
  height: 20px;
  margin-left: 10px;
}
.website-input {
  border: none;
  outline: none;
}
.button {
  height: 35px;
  width: 50px;
  color: white;
  background-color: #0b69ff;
  border: none;
  border-radius: 5px;
  margin-left: 175px;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showPassword {
  display: flex;
  margin-left: 80%;
  align-items: center;
}
.showbutton {
  margin-right: 14px;
}
.shownumber {
  height: 20px;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  border-color: beige;
}
.second-container {
  height: 400px;
  width: 100%;
  background-color: #5763a5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
}
.lines {
  border: 1px solid white;
  width: 100%;
}
.password-list {
  list-style-type: none;
  display: flex;
}
